.description {
    font-size: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    /** número de linhas que você quer exibir */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.minHeight {
    min-height: 285px;
}

.cardCustom{
    box-shadow: 0 0 .25em black;
}

.linkCustom {
    text-decoration: none;
    background-color: #6998AB;
    color: black;
    padding: 5px;
    border-radius: 5px;
}

.linkCustom:hover {
    color: white;
    transition: .3s;
}

.descriptionTable{
    max-width: 15ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.noEvents{
    font-size:35px;
    text-align: center;
    font-weight:bold;
}