.navbarCustom {
    background-color: #1A374D;
    position: sticky;
    top: 0;
    z-index: 1;
    min-height: 75px;
}

.navbarCustom ul li {
    margin-right: 15px;
}

.navbarCustom ul li a{
    text-decoration: none;
    color: white;
}

.navbarCustom ul li a:hover{
    color: #B1D0E0;
    transition: .5s;
}

.btnCustom{
    background-color: #f1f1;
}

