* {
  margin: 0;
  padding: 0;
}

body,
html,
#root {
  min-height: 100%;
  /* height: 100%; */
  background: linear-gradient(to bottom, #f1f1f1, #B1D0E0);
  /* background-repeat: no-repeat; */
  /* animation: load; */
}

.minHeight {
  min-height: calc(100vh - 95px);
  /* padding-top: 15px; */
  padding-bottom: 15px; 
  background-color: #fff;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* @keyframes load {
  0% {
    color: white;
  }
} */

/* .teste {
  animation: teste infinite 1s;
}

@keyframes teste {
  from {
    transform: rotate(0);
  }to{
    transform: rotate(360deg);
  }
  0% {
    background-color: red
  }

  50% {
    background-color: black;
  }

  100% {
    background-color: blue;
  }
} */